{% extends "home_template.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="container box_container" align="center">

        <div align="center">
            <img class="card" src=" {{ url_for('static',filename='image/logo2.jpg') }}" style="border-radius: 50%; width: 30%;" alt="My Kitchen"></a>
        </div>

        <h1 style="color:darkgreen">Login To The Kitchen!</h1>
        <div class="row">
            
                    {{ wtf.quick_form(form) }}
        
        </div>   
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
            <li class="card" style="color: darkred;">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        <br>
        <p>Create New User? <a href="{{ url_for('register') }}">Click to Register!</a></p> 
    </div>
   

{% endblock %}